@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap');
/* font-family: 'Manrope', sans-serif; */
/* font families
background: #1E1B1B;dark color
background: #FF6433;orange color
 background: #661CE7; blueviolet 
 background: #00D289;mint
 background: #E2E6E9; steelgrey
 background: #F2F2F2; light gray*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

